services:
  postgres:
    image: postgres:17
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: movies_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./data:/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"
    depends_on:
      - postgres

  webapp:
    build:
      context: ./webapp-nextjs
    container_name: webapp
    restart: unless-stopped
    environment:
      PGHOST: postgres_db
      PGPORT: 5432
      PGUSER: postgres
      PGPASSWORD: mysecretpassword
      PGDATABASE: movies_db
      NEXT_PUBLIC_PORT: 3001
    ports:
      - "3001:3001"
    depends_on:
      - postgres

volumes:
  pgdata:
